body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9fbfd;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    background-color: #f5f7fa;
    padding: 100px 20px;
    position: relative;
    overflow: hidden;
}
.hero-bg {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
}
.tagline {
    color: #555;
    font-size: 1.2rem;
}
.section {
    padding: 80px 20px;
}
.section h
